# Configuration for shinku

# Days to look ahead and add events into todo.
lookahead = 14
working_timezone = 'America/Los_Angeles'

calendar = {
    "source": "https://a.ics.file.com",
}

toodledo = {
    "api_token": "",
    "id": "",
    "folder_id": "",
    "password": ""
}

wunderlist = {
    "username": "",
    "password": "",
    "list": "" # List to add events to
}
